*~
*.log
*.swp
*.[a|o]
*~
*.psd
*.bak
*.pyc
.DS_Store
.env
.venv
build/*
tmp
tags
.tags*
.vscode
.ropeproject
.project
.pydevproject
*.code-workspace
*.sublime-project
*.sublime-workspace
.idea/*
.python-version
__pycache__
